.link {
  box-sizing: border-box;
  padding: 15px 0 15px 40px;
  font-weight: 600;
  line-height: 21.79px;
  text-decoration: none;
  color: @black;
  transition: color 0.2s;

  &__blogs {
    margin: 70px 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media @bw600 {
      margin-top: 45px;
    }
  }

  &__events {
    margin-top: 70px;
    margin-bottom: 100px;
    display: flex;
    margin-left: -20px;
    flex-direction: column;
    align-items: center;
    gap: 18px;

    @media @bw768 {
      font-size: 14px;
    }
  }

  &:hover {
    color: @red;
  }
}

.arrow__events-icon {
  margin: 18px 0 0 0;
  width: 92px;
  height: 62px;
  min-width: 92px;
  min-height: 62px;
  flex-shrink: 0;
  object-fit: contain;
}