.checks {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media @bw768 {
      gap: 15px;
    }
  }
}

.reserve {
  .check {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    .check__mark {
      position: relative;
      flex-shrink: 0;
    }
    
    .check__label {
      margin-left: 10px;
    }
  }
}